@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Oswald:wght@200;300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */

.nav-bar{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content:center;
}
.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 1150px;
}
.logo-container > span{
    font-family: 'Oswald', sans-serif; 
    font-size: 24px;
    color:#C0C0C0;
    margin-left: 20px;
}
.logo{
    height: 50px;
}
.menu-icon{
    height: 30px;
}

.section-one-wrapper {
    position: relative;
}

.sec1-content-container {
    position: absolute;
    top: 240px;
    left: 100px;
    width: 450px;
}

.sec1-content-container > div {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-style: italic;
    height: 120px;
    background-color: rgba(66, 66, 66, 0.8);
    color: white;
    margin-top: 2px;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}

.content-point-num {
    margin-right: 10px;
    font-style: normal;
    font-size: 70px;
}

.img1 {
    width: 100%;
    height: 100%;
}

/* section2 */

/* .section-two-wrapper{
    width: 1150px;
    margin: 0 auto;
} */

.sec2-content-box-one{
    background-color: white;
    float: left;
    height: 505px;
    width: 50%;
}
.sec2-contBox1-inner-wrap{
    display: flex;
    gap: 80px;
    color: #111111;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin: 50px 0 0 100px;
}
.sec2-contBox1-inner-wrap > div{
    width: 230px;
}
.sec2-contBox1-inner-wrap > div > p{
    padding: 20px 25px 0 0;
    line-height: 1.6;
}
.sec2-cont1-img1-container, .sec2-cont1-img2-container{
    height: 155px;
    width: 230px;
}
.img4, .img5{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ------ */
.sec2-content-box-two{
    background-color: #FFCA00;
    height: 505px;
    width: 50%;
    display: inline-block;
    color: #111111;
    flex-direction: column;
}
.sec2-contBox2-inner-wrap{
    margin: 50px 120px 0 15px;
}
.sec2-cont2-line-bar-one{
    width: 320px;
    height: 2px;
    background-color: #454545;
}
.sec2-cont-box-two-title{
    font-size: 35px;
    font-weight: 400;
    margin: 20px 0;
    font-family: 'Oswald', sans-serif;
}
.sec2-cont2-line-bar-two{
    width: 170px;
    height: 8px;
    background-color: #111111;
}
.sec2-cont-box-two-para{
    font-family: 'Open Sans', sans-serif;
    margin: 35px 0;
    line-height: 1.6;
}
.img-next-btn{
    height: 40px;
    width: 40px;
}

/* ------ */
.sec2-content-box-three{
    background-color: #1A1A1A;
    float:left;
    height: 585px;
    width: 50%;
    display: flex;
    color: #ffffff;
    flex-direction: column;
}
.sec2-contBox3-inner-wrap{
    margin: 100px 75px 0 100px;
}
.sec2-cont3-line-bar-one{
    width: 320px;
    height: 2px;
    background-color: #ffffff;
}
.sec2-cont-box-three-title{
    font-size: 35px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    margin: 20px 0;
}
.sec2-cont3-line-bar-two{
    width: 170px;
    height: 8px;
    background-color: #ffffff;
}
.sec2-cont-box-three-para{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 30px 0;
}
.sec2-contBox3-inner-wrap > button{
    height: 45px;
    width: 130px;
    background-color: #FFCA00;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    border: none;
}
/* ------ */
.sec2-content-box-four{
    display: inline-block;
    width: 50%;
    height: 585px;
}
.img6{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* section3 */
.sec3-MAN-automobile-types{
    display: flex;
    gap: 30px;
    margin: 50px 0 0 100px;
}
.sec3-MAN-automobile-types > div{
    width: 265px;
    height: 475px;
}
.sec3-MAN-automobile-types > div:nth-child(-n+3){
    border: 1px solid #B3B3B3;
}
.sec3-MAN-automobile-types > div:nth-child(4){
    background-color: #FFCA00;
}
.MAN-automobile-img-container{
    width: 100%;
    height: 275px;
}
.MAN-automobile-vehicle-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.MAN-automobile-content-container{
    margin: 20px 20px 0 20px;
}
.MAN-automobile-content-container p:nth-child(1){
    font-size: 30px;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    color: #111111;
    margin: 0 0 10px 0;
}
.MAN-automobile-content-container p:nth-child(2){
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #111111;
    line-height: 1.5;
}
/* --------- */
.MAN-Truck-and-Bus-content-container{
    margin: 20px 40px 0 30px;
}
.MAN-Truck-and-Bus-content-container p:nth-child(1){
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #111111;
}
.MAN-Truck-and-Bus-content-container p:nth-child(2){
    color: #111111;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin:20px 0;
    line-height: 1.6;
}







.section-4{
    height: 400px;
    width: 500px;
    margin-top: 80px;
    background-color: #454545;
}